<template>
    <v-row>
        <v-col>
            <Product></Product>
        </v-col>
    </v-row>
</template>

<script>

import Product from "../../components/Product";

export default {
    components: {Product}
}
</script>
<template>
    <v-row>
        <v-col>
            <Product></Product>
        </v-col>
    </v-row>
</template>

<script>

import Product from "../../components/Product";

export default {
    components: {Product}
}
</script>
