<template>
    <v-row>
        <v-col cols="12" sm="6" lg="3" md="4" v-for="student in students" :key="student.id" >
            <Preview :student="student"></Preview>
            <button v-on:click="deleteStudent(student.id)">Vymazat</button>
        </v-col>
    </v-row>
</template>

<script>
import Preview from "../components/Preview";
export default {
    components: {Preview},
    data() {
        return {
            students: []
        }
    },
    async mounted() {
        const res = await this.$axios.get('/api/Student/all');
        console.log(res.data);
        this.students = res.data;
    },
    methods:
    {
        deleteStudent(id)
        {
            this.$axios.delete('/api/Student/delete?id=' + id);
        }
    }
}
</script>
